<!doctype html>
<html lang="pt-br">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/content/bootstrap.css")" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="page-header bg-primary">
                <div class="container text-center">
                    <h1>Desenvolvimento em ASP.NET MVC</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 col-md-3 bg-info">
                <ul class="nav nav-pills nav-stacked">
                    <br />
                    <li id="liCategorias" role="presentation">@Html.ActionLink("Categorias", "Index", "Categorias")</li>
                    <li id="liFabricantes" role="presentation">@Html.ActionLink("Fabricantes", "Index", "Fabricantes")</li>
                    <li id="liProdutos" role="presentation">@Html.ActionLink("Produtos", "Index", "Produtos")</li>
                    <br />
                </ul>
            </div>
            <div class="col-xs-9 col-md-9">
                @RenderBody()
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-12 col-md-12 bg-primary">
                <div class="container text-center">
                    <small>@DateTime.Now - Layout com Bootstrap</small>
                </div>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/scripts/bootstrap.js")"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datatables")
    @RenderSection("scripts", required: false)
    @RenderSection("ScriptPage", false)
</body>
</html>
